body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #494949;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  vertical-align: middle;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #37f6637e;
  color: white;
}
.topnav a.login {
  float: right;
}
.topnav a.logo_a{
  padding: -0px 0px;
}
.topnav img.logo {
  margin: 0px; 
  height: 47px;
  vertical-align: middle;
}
.message-error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.message-success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

.profile_card {
  position: absolute;
  top: 75px;
  left: 75px;
  box-shadow: 0 4px 20px 0 rgba(160, 220, 136, 0.2);
  max-width: 330px;
  margin: auto;
}

.profile_card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.profile_card h1 {
  font-size: 25px;
  color: rgb(137, 255, 141);
  text-align: center;
}

.profile_card button:hover, a:hover {
  opacity: 0.7;
}
.profile_card img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.profile_card .description {
  text-align: left;
  font-size: 18px;
  font-family: 'Impact';
  color: rgba(6, 0, 0, 0.91);
  padding: 15px;
}

.profile_card .value {
  text-align: left;
  font-size: 22px;
  color: rgb(238, 247, 238);
}

.player_history{
  position: absolute;
  top: 100px;
  left: 475px;
  background-color: rgba(202, 221, 213, 0.477);
  width: 400px;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.player_history h1 {
  font-size: 25px;
  color: rgb(137, 255, 141);
  text-align: center;
}

.player_history .description {
  font-size: 18px;
  font-family: 'Impact';
  color: rgba(6, 0, 0, 0.91);
}

.player_history .value {
  font-size: 22px;
  color: rgb(238, 247, 238);
}
.game_menu {
  max-width: 300 px;
  padding: 10px;
  position: center;
  background-color: rgba(202, 221, 213, 0.477);
  max-width: 330px;
  margin: auto;
  text-align: center;
  border-radius: 10%;
  position: relative;
  top: 100px;
}
.game_menu h1{
  font-size: 25px;
  color: rgb(137, 255, 141);
}
.game_menu button {
  border: 4 px;
  border-color: #ddd;
  border-radius: 10%;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #000;
  cursor: pointer;
  width: 60%;
  font-size: 18px;
}

.chessboard {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 80vmin;
  height: 80vmin;
  border: 5px solid #000000;
  box-sizing: border-box;
  margin-top: calc(50vh - 45vmin);
  margin-bottom: calc(50vh - 40vmin);
}

.chessboard .row {
  flex: 1;
  display: flex;
}

.chessboard .black {
  flex: 1;
  background-color: #aeb6ab;
}

.chessboard .white {
  flex: 1;
  background-color: #fff;
}
.chessboard .piece{
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  font-size: 5vmin;
  -webkit-text-stroke: 1px white;
}