body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #494949;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  vertical-align: middle;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #37f6637e;
  color: white;
}
.topnav a.login {
  float: right;
}
.topnav a.logo_a{
  padding: -0px 0px;
}
.topnav img.logo {
  margin: 0px; 
  height: 47px;
  vertical-align: middle;
}
.message-error {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
}

.message-success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}
