{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'game/main.css' %}">
    <title> Chess.pobre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="topnav">
        <a href="{% url 'home' %}" class="logo_a"><img src="{% static 'game/knight_image.jpg' %}" alt="Knight" class="logo" href="#"></a>
        <a class="active" href="{% url 'home' %}">Home</a>
        <a href="{% url 'play' %}">Play</a>
        <a href="{% url 'about' %}">About</a>
        {% if user.is_authenticated %}
            <a class="login" href="{% url 'logout' %}">logout</a>
            <a class="login" href="{% url 'profile' %}">{{ user.username }}</a>
        {% else %}
            <a class="login" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

    
    {% block content %}{% endblock %}
</body>

</html>