{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'game/main.css' %}">
    <title> Chess.pobre</title>
</head>

<body>
    <div class="topnav">
        <a href="#" class="logo_a"><img src="{% static 'game/knight_image.jpg' %}" alt="Knight" class="logo" href="#"></a>
        <a class="active" href="#">Home</a>
        <a href="#">Play</a>
        <a href="#">About</a>
        <a class="login" href="#">Login</a>
    </div>
</body>

</html>