{% extends "game/base.html" %}
{% load static %}
{% block content %}

<div class="chessboard">
    {% for row  in indexed_chessboard  %}         
        <div class="row">
            {% with index=forloop.counter %}            
                {% for square  in row  %}
                    {% with key=square.0 piece_index=square.1 %}
                        {% if index|divisibleby:2 %}
                            <div class="{% cycle 'black' 'white' %}" onclick="move_track(moves,{{ piece_index }})">
                                <div class="piece" id="{{ piece_index }}">{{ dic_pieces|get_item:key|safe }}</div>
                            </div>
                        {% else %}
                            <div class="{% cycle 'white' 'black' %}" onclick="move_track(moves,{{ piece_index }})">
                                <div class="piece" id="{{ piece_index }}">{{ dic_pieces|get_item:key|safe }}</div>
                            </div>
                        {% endif %}
                    {% endwith %}
                {%endfor%}
            {% endwith %}    
        </div>
    {%endfor%}
</div>

<button onclick="EndGame()">End Game</button>


<div id="chessboard" data-chessboard="{{ chessboard }}"></div>
<div id="csrf" data-csrf="{{ csrf_token }}"></div>
<div id="suk_player" data-suk_player="{{ suk_player }}"></div>

{% endblock %}